body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "sans-serif";
    color: rgb(0, 69, 133);
}

.container {
    width: 100%;
    margin: auto;
}

h1 {
    font-size: 1.3em;
    color: rgb(173, 41, 24);
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-size: 2.2em;
    font-family: 'Roboto Condensed', sans-serif;
}

h3 {
    text-align: center;
    margin: 30px 0;
}

p {
    font-size: 1em;
}

/* Mise en forme du header */

header {
    display: flex;
    flex-direction: row;
    padding: 30px 15px;
}

header h1 {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

/* Mise en forme du slider */

#slider-images {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

figcaption {
    background-color: rgb(89, 176, 227);
    padding: 0.2em 0.5em 0.2em 0.5em;
}

figcaption h2, figcaption p {
    text-align: center;
    color: white;
}

figcaption h2 {
    margin-bottom: 0.3em;
}

figcaption p {
    font-size: 1.2em;
    padding-bottom: 50px;
}

#slider-images img {
    width: 100%;
}

.chevron {
	font-size: 1.5em;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: calc(50% - 1.5em);
}

#chevron_left {
	left: -1.5em;
}

#chevron_right {
	right: -1.5em;
}

.chevron i {
	position: absolute;
	top: calc(50% - 12px);
}

#chevron_left i {
	left: 1.8em;
}

#chevron_right i {
	right: 1.8em;
}

.player {
    position: absolute;
    font-size: 1em;
	width: 3em;
	height: 3em;
	border-radius: 50%;
    color: #FFFFFF;
    position: absolute;
    left: calc(50% - 8px);
    bottom: 0;
    z-index: 10;
}

/* Mise en forme de la carte */

#bike-booking__blocks {
    display: flex;
    flex-direction: row;
    border: 1px transparent solid;
    border-radius: 5px;
}

#bike-booking__map {
    flex: 2;
    height: 600px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}

/* Mise en forme du formulaire de réservation */

#bike-booking {
    padding: 50px 15px 30px 15px;
    background-color: rgb(196, 222, 255);
}

#bike-booking h2 {
    text-align: center;
    margin-bottom: 80px;
    font-size: 2.4em;
}

#bike-booking h2 i {
    margin-right: 15px;
}

#bike-booking__data {
    flex: 1;
    display: none;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(242, 248, 255);
}

#bike-booking__data form {
    text-align: center;
}

#bike-booking__data form input {
    border-color : rgb(0, 69, 133);
    border-width: 0.5px;
    border-radius: 5px;
    height: 20px;
}

#bike-booking__data form input::placeholder {
    color : rgb(0, 69, 133);
}

.button #submit {
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: rgb(173, 41, 24);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 16px;
    padding: 8px 20px;
    border: 1px transparent solid;
    border-radius: 20px;
}

.button #submit:hover {
    background-color: white;
    border: 1px rgb(173, 41, 24) solid;
    color: rgb(173, 41, 24);
}   

#canvas {
    width: 250px;
    height: 150px;
    border: 1px solid #000;
    padding: 1px;
}

#message-countdown {
    display: none;
}

/* Mise en forme du footer */

footer p {
    background-color: rgb(196, 222, 255);
    text-align: center;
    padding: 20px 15px;
    margin: 0;
}

@media all and (max-width: 991px) {
    #bike-booking__map {
        flex: 1;
    }
}

@media all and (max-width: 768px) {
    h1 {
        font-size: 1em;
    }

    h2 {
        font-size: 1.5em;
    }

    figcaption p {
        font-size: 1em;
    }

    #bike-booking__blocks {
        flex-direction: column;
    }

    #bike-booking__map {
        flex: none;
    }

    #bike-booking__data {
        flex: none;
        text-align: center;
    }
}

@media all and (max-width: 665px) {
    figcaption h2 {
        height: 56px;
        margin-left: 37px;
        margin-right: 37px; 
    }

} 

@media all and (max-width: 436px) {
    figcaption h2 {
        height: 84px;
    }

} 

@media all and (max-width: 324px) {
    figcaption h2 {
        height: 112px;
    }

}  